NodeRed/flows.json
[
    {
        "id": "3b3c60cac9e15652",
        "type": "tab",
        "label": "Data Visualization Test App",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0a0816a7bf894544",
        "type": "group",
        "z": "3b3c60cac9e15652",
        "name": "Name generator",
        "style": {
            "label": true
        },
        "nodes": [
            "249c2e3beb9a48e2",
            "05a11a68b5733742"
        ],
        "x": 34,
        "y": 279,
        "w": 472,
        "h": 82
    },
    {
        "id": "ea3d780115fbfa5b",
        "type": "group",
        "z": "3b3c60cac9e15652",
        "name": "Camera Checker",
        "style": {
            "label": true
        },
        "nodes": [
            "490d74948a6510d7",
            "f729a84669a6b0d3",
            "a8d14fecdcc434a0",
            "0d36104967960f26",
            "e4bbcd6ba7a591dc",
            "c63636538ff26163",
            "a7f42c05b6b950a4",
            "7ac1552038e5c119",
            "54969de6ac19eabb",
            "90828a1c496c98d6"
        ],
        "x": 34,
        "y": 31.5,
        "w": 952,
        "h": 229.5
    },
    {
        "id": "e207b0ca8ceee3d3",
        "type": "group",
        "z": "3b3c60cac9e15652",
        "name": "Capture Photo",
        "style": {
            "label": true
        },
        "nodes": [
            "0800c63552c2a05b",
            "303ec5567680214f",
            "9bbcf76bb5dc64d0",
            "7e995cb59f7d6127",
            "2af67922ea5d1c1a"
        ],
        "x": 34,
        "y": 419,
        "w": 872,
        "h": 142
    },
    {
        "id": "0800c63552c2a05b",
        "type": "ui_button",
        "z": "3b3c60cac9e15652",
        "g": "e207b0ca8ceee3d3",
        "name": "",
        "group": "9e639269c77b9c9d",
        "order": 5,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "Capture",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 460,
        "wires": [
            [
                "303ec5567680214f",
                "2af67922ea5d1c1a"
            ]
        ]
    },
    {
        "id": "303ec5567680214f",
        "type": "http request",
        "z": "3b3c60cac9e15652",
        "g": "e207b0ca8ceee3d3",
        "name": "Get photo",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "http://192.168.15.110/capture",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 340,
        "y": 460,
        "wires": [
            [
                "7e995cb59f7d6127"
            ]
        ]
    },
    {
        "id": "9bbcf76bb5dc64d0",
        "type": "file",
        "z": "3b3c60cac9e15652",
        "g": "e207b0ca8ceee3d3",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 820,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "249c2e3beb9a48e2",
        "type": "inject",
        "z": "3b3c60cac9e15652",
        "g": "0a0816a7bf894544",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 320,
        "wires": [
            [
                "05a11a68b5733742"
            ]
        ]
    },
    {
        "id": "05a11a68b5733742",
        "type": "function",
        "z": "3b3c60cac9e15652",
        "g": "0a0816a7bf894544",
        "name": "Filename Variable",
        "func": "global.set (\"pictureName\", msg.payload+\".jpg\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "7e995cb59f7d6127",
        "type": "function",
        "z": "3b3c60cac9e15652",
        "g": "e207b0ca8ceee3d3",
        "name": "Add name",
        "func": "msg.filename = \"/home/hugo/Pictures/\"+global.get(\"pictureName\")\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 460,
        "wires": [
            [
                "9bbcf76bb5dc64d0"
            ]
        ]
    },
    {
        "id": "490d74948a6510d7",
        "type": "inject",
        "z": "3b3c60cac9e15652",
        "g": "ea3d780115fbfa5b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "f729a84669a6b0d3"
            ]
        ]
    },
    {
        "id": "f729a84669a6b0d3",
        "type": "http request",
        "z": "3b3c60cac9e15652",
        "g": "ea3d780115fbfa5b",
        "name": "get picture",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "http://192.168.15.110/capture",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 330,
        "y": 80,
        "wires": [
            [
                "0d36104967960f26"
            ]
        ]
    },
    {
        "id": "a8d14fecdcc434a0",
        "type": "file",
        "z": "3b3c60cac9e15652",
        "g": "ea3d780115fbfa5b",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 720,
        "y": 80,
        "wires": [
            [
                "e4bbcd6ba7a591dc"
            ]
        ]
    },
    {
        "id": "0d36104967960f26",
        "type": "function",
        "z": "3b3c60cac9e15652",
        "g": "ea3d780115fbfa5b",
        "name": "Add name",
        "func": "msg.filename = \"/home/hugo/Pictures/detect.jpg\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 80,
        "wires": [
            [
                "a8d14fecdcc434a0"
            ]
        ]
    },
    {
        "id": "e4bbcd6ba7a591dc",
        "type": "exec",
        "z": "3b3c60cac9e15652",
        "g": "ea3d780115fbfa5b",
        "command": "curl --location 'http://localhost:32168/v1/vision/face' --form 'image=@\"/home/hugo/Pictures/detect.jpg\"' --form 'min_confidence=\"0.4\"'",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "curl call",
        "x": 900,
        "y": 80,
        "wires": [
            [
                "a7f42c05b6b950a4"
            ],
            [],
            []
        ]
    },
    {
        "id": "c63636538ff26163",
        "type": "debug",
        "z": "3b3c60cac9e15652",
        "g": "ea3d780115fbfa5b",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 220,
        "wires": []
    },
    {
        "id": "a7f42c05b6b950a4",
        "type": "json",
        "z": "3b3c60cac9e15652",
        "g": "ea3d780115fbfa5b",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 310,
        "y": 160,
        "wires": [
            [
                "7ac1552038e5c119"
            ]
        ]
    },
    {
        "id": "7ac1552038e5c119",
        "type": "function",
        "z": "3b3c60cac9e15652",
        "g": "ea3d780115fbfa5b",
        "name": "Pass coordinates",
        "func": "global.set(\"x_min\",msg.payload.predictions[0].x_min);\nglobal.set(\"y_min\",msg.payload.predictions[0].y_min);\nglobal.set(\"x_max\",msg.payload.predictions[0].x_max);\nglobal.set(\"y_max\",msg.payload.predictions[0].y_max);\n\nmsg.xmin = msg.payload.predictions[0].x_min;\nmsg.xmax = msg.payload.predictions[0].x_max;\nmsg.ymin = msg.payload.predictions[0].y_min;\nmsg.ymax = msg.payload.predictions[0].y_max;\n\nmsg.payload = (\"x_min: \" + msg.payload.predictions[0].x_min + \"y_min: \" + msg.payload.predictions[0].y_min + \"x_max: \" + msg.payload.predictions[0].x_max + \"y_max: \" + msg.payload.predictions[0].y_max);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 160,
        "wires": [
            [
                "54969de6ac19eabb",
                "90828a1c496c98d6"
            ]
        ]
    },
    {
        "id": "54969de6ac19eabb",
        "type": "ui_text",
        "z": "3b3c60cac9e15652",
        "g": "ea3d780115fbfa5b",
        "group": "3a959b147c7b9316",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Show coordinates",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 790,
        "y": 160,
        "wires": []
    },
    {
        "id": "90828a1c496c98d6",
        "type": "ui_template",
        "z": "3b3c60cac9e15652",
        "g": "ea3d780115fbfa5b",
        "group": "45493670ebbd75ca",
        "name": "",
        "order": 4,
        "width": 12,
        "height": 9,
        "format": "<iframe id=\"videoFrame\" src=\"http://192.168.15.110:81/stream\" \nwidth=\"640\" height=\"480\"></iframe>\n\n<svg id=\"overlay\" style=\"position: absolute; top: 0; left: 0; width: 100%; height: 100%;\">\n    <line x1=\"{{msg.xmin}}\" y1=\"{{msg.ymin}}\" x2=\"{{msg.xmax}}\" y2=\"{{msg.ymin}}\"\n        style=\"stroke: red; stroke-width: 2;\" />\n    <line x1=\"{{msg.xmax}}\" y1=\"{{msg.ymin}}\" x2=\"{{msg.xmax}}\" y2=\"{{msg.ymax}}\"\n        style=\"stroke: red; stroke-width: 2;\" />\n    <line x1=\"{{msg.xmax}}\" y1=\"{{msg.ymax}}\" x2=\"{{msg.xmin}}\" y2=\"{{msg.ymax}}\"\n        style=\"stroke: red; stroke-width: 2;\" />\n    <line x1=\"{{msg.xmin}}\" y1=\"{{msg.ymax}}\" x2=\"{{msg.xmin}}\" y2=\"{{msg.ymin}}\"\n        style=\"stroke: red; stroke-width: 2;\" />\n</svg>\n\n<script>\n    function updateImage() {\n        var videoFrame = document.getElementById('videoFrame');\n        var overlay = document.getElementById('overlay');\n\n        // Adjust the size and position of the overlay to match the video frame\n        overlay.style.width = videoFrame.offsetWidth + 'px';\n        overlay.style.height = videoFrame.offsetHeight + 'px';\n\n        var image = new Image();\n        image.src = 'http://192.168.15.110:81/stream?' + new Date().getTime(); // Append a timestamp to force video refresh\n        image.onload = function () {\n            videoFrame.contentWindow.location.reload(); // Reload the iframe to update the video\n        };\n    }\n\n    setInterval(updateImage, 1000); // Update video every 1 second (1000 milliseconds)\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 300,
        "y": 220,
        "wires": [
            [
                "c63636538ff26163"
            ]
        ]
    },
    {
        "id": "2af67922ea5d1c1a",
        "type": "ui_template",
        "z": "3b3c60cac9e15652",
        "g": "e207b0ca8ceee3d3",
        "group": "9e639269c77b9c9d",
        "name": "",
        "order": 2,
        "width": "6",
        "height": "6",
        "format": "",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 580,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "c671f04d896e3cd2",
        "type": "ui_spacer",
        "z": "3b3c60cac9e15652",
        "name": "spacer",
        "group": "45493670ebbd75ca",
        "order": 3,
        "width": 5,
        "height": 1
    },
    {
        "id": "9e639269c77b9c9d",
        "type": "ui_group",
        "name": "Capture",
        "tab": "6b84b172526fb6d5",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3a959b147c7b9316",
        "type": "ui_group",
        "name": "Data",
        "tab": "6b84b172526fb6d5",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "45493670ebbd75ca",
        "type": "ui_group",
        "name": "View",
        "tab": "6b84b172526fb6d5",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6b84b172526fb6d5",
        "type": "ui_tab",
        "name": "Facial Recognition",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]