NodeRed/flows.json
[
    {
        "id": "3b3c60cac9e15652",
        "type": "tab",
        "label": "Data Visualization Test App",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0a0816a7bf894544",
        "type": "group",
        "z": "3b3c60cac9e15652",
        "name": "Name generator",
        "style": {
            "label": true
        },
        "nodes": [
            "249c2e3beb9a48e2",
            "05a11a68b5733742"
        ],
        "x": 34,
        "y": 259,
        "w": 452,
        "h": 82
    },
    {
        "id": "ea3d780115fbfa5b",
        "type": "group",
        "z": "3b3c60cac9e15652",
        "name": "Camera Checker",
        "style": {
            "label": true
        },
        "nodes": [
            "490d74948a6510d7",
            "f729a84669a6b0d3",
            "a8d14fecdcc434a0",
            "0d36104967960f26",
            "e4bbcd6ba7a591dc",
            "a7f42c05b6b950a4",
            "7ac1552038e5c119",
            "54969de6ac19eabb",
            "001c82a4351f2185"
        ],
        "x": 34,
        "y": 31.5,
        "w": 1112,
        "h": 209.5
    },
    {
        "id": "e207b0ca8ceee3d3",
        "type": "group",
        "z": "3b3c60cac9e15652",
        "name": "Capture Photo",
        "style": {
            "label": true
        },
        "nodes": [
            "0800c63552c2a05b",
            "303ec5567680214f",
            "9bbcf76bb5dc64d0",
            "7e995cb59f7d6127",
            "80cd497a1366595e",
            "fcfe07de4e6eccb7",
            "de798f2b190316c8",
            "0765c07a1dfd6ef4",
            "28bd852ee44e0c88"
        ],
        "x": 34,
        "y": 359,
        "w": 1242,
        "h": 169.5
    },
    {
        "id": "7b4499f4ca4d2a7b",
        "type": "group",
        "z": "3b3c60cac9e15652",
        "name": "Face registration",
        "style": {
            "label": true
        },
        "nodes": [
            "e02f138280eb5849",
            "a0ec45d4bd68b064",
            "70945f2165e235ce",
            "2568df0b7818cd8e",
            "9a759f9de9e0649b",
            "ac9fe3658cd3173c",
            "4fae02c2715ad332",
            "898cad28233922d9",
            "6686f8b781f90369",
            "4a6c16a5c34bd284",
            "d5f8c86cd20a30fa",
            "cef438b57e1c1cf3"
        ],
        "x": 34,
        "y": 1919,
        "w": 1132,
        "h": 282
    },
    {
        "id": "4dfb0d38379b8a64",
        "type": "group",
        "z": "3b3c60cac9e15652",
        "name": "Face Recognition",
        "style": {
            "label": true
        },
        "nodes": [
            "9b49b126f83f355d",
            "60784718ffd306ec",
            "9af30b6d4ca601dd",
            "9cd8da9a6de0cdcd",
            "a5e5916673a80375",
            "e5b72e25cd78bb7d",
            "cd4a128cd0e11b83",
            "56ceb020f19ffac0",
            "9d043fff577da6ec",
            "761ce18ca6cfdad7",
            "dd924cf8512dd8c4",
            "5570379515d44baa",
            "bf9bec31fb0ceae3",
            "374c40aacdf65d27",
            "7b5ec73e67e16185",
            "9bc91174259c9001",
            "4afe932573d519ae",
            "915da7e840ec73e9",
            "91c20ce62c52b9b0",
            "b56707211298279c",
            "850cc9fcb932b4be",
            "b041ee0409229bc7",
            "8f37163a8618ab2e",
            "f685825e670c696b",
            "f1afb9d902e82927",
            "8de9bcbffcc5f4a9",
            "278718f995f8d615",
            "9ecea7641233009d",
            "3c504acd944995f6",
            "c0dbee6ec58911eb",
            "22a7b8110bb9b353",
            "a4d1a1d70922da54",
            "4481469d92557c13",
            "f3ba3aa27b7f234a",
            "ad8ba2a9b3f075c8",
            "1e6bcef6c392d605",
            "1189b32cec69b016",
            "424f4c383a7ef5e7",
            "4643fb195b6bba62"
        ],
        "x": 34,
        "y": 551.5,
        "w": 1232,
        "h": 509.5
    },
    {
        "id": "4036ea1e0eebbcce",
        "type": "group",
        "z": "3b3c60cac9e15652",
        "name": "Local image server",
        "style": {
            "label": true
        },
        "nodes": [
            "97b54477ac8b5b3f",
            "242167a0d62d3ce0",
            "efec9f13de776c17",
            "2038deced828d37b"
        ],
        "x": 34,
        "y": 1099,
        "w": 712,
        "h": 82
    },
    {
        "id": "fae4d768ecaa3b3c",
        "type": "group",
        "z": "3b3c60cac9e15652",
        "name": "OCR",
        "style": {
            "label": true
        },
        "nodes": [
            "47c2aa63e8ab775e",
            "8eebe6a15256e515",
            "80bbceddac2ccc5c",
            "1851747b5f45602d",
            "37aeb6dd30288d6b",
            "106cae68185afecc",
            "4850aa3fba0681b7",
            "bbf0910d80e9ff02",
            "038484f0451b6349",
            "d0e6cd88d3e557b1",
            "8afe2b068854efb7",
            "12c5959bba524e90",
            "dfc4f0b3a08e3bf1",
            "df7528d7d2a24682",
            "51508ad4e8911624",
            "8b1f03330f090760",
            "c51080e1b0fbbe21",
            "4ff6608a603d4539",
            "6745bd0b2f37a188",
            "403148938b38912c",
            "01e3e08f3de5d01a",
            "07cfc4b1cc097c34",
            "e7370728ed95987a",
            "4bac0356fc87e52c",
            "2fa1bd93acdadd4f",
            "33295b795b946d33",
            "a8379d11bfd868b8",
            "455e059c42cdf68d",
            "56c780d43543e03a",
            "eea46537294a2d58",
            "13da289f2e9dfedb",
            "7555773de5458357",
            "c95872691031343b",
            "9bb1c7d21c37b0ed",
            "ed3dd00a980b912e"
        ],
        "x": 34,
        "y": 1211.5,
        "w": 1252,
        "h": 529.5
    },
    {
        "id": "45493670ebbd75ca",
        "type": "ui_group",
        "name": "View",
        "tab": "6b84b172526fb6d5",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6b84b172526fb6d5",
        "type": "ui_tab",
        "name": "Facial Recognition",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e6cf0a7d7ce14d41",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#613583",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#613583",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#613583",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#894db7",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#613583",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "9e639269c77b9c9d",
        "type": "ui_group",
        "name": "Facial Recognition",
        "tab": "6b84b172526fb6d5",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d8380dafa5eff9d1",
        "type": "ui_group",
        "name": "Face Registration",
        "tab": "6b84b172526fb6d5",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "78c4e9e81da0615d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e6bb8dbef78e3b7e",
        "type": "ui_group",
        "name": "OCR",
        "tab": "6b84b172526fb6d5",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8635f24bab9a1c42",
        "type": "ui_link",
        "name": "Link 2",
        "icon": "open_in_browser",
        "target": "newtab",
        "order": 2
    },
    {
        "id": "0800c63552c2a05b",
        "type": "ui_button",
        "z": "3b3c60cac9e15652",
        "g": "e207b0ca8ceee3d3",
        "name": "",
        "group": "45493670ebbd75ca",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Capture",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 400,
        "wires": [
            [
                "303ec5567680214f"
            ]
        ]
    },
    {
        "id": "303ec5567680214f",
        "type": "http request",
        "z": "3b3c60cac9e15652",
        "g": "e207b0ca8ceee3d3",
        "name": "Get photo",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "http://192.168.1.110/capture",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 340,
        "y": 400,
        "wires": [
            [
                "7e995cb59f7d6127"
            ]
        ]
    },
    {
        "id": "9bbcf76bb5dc64d0",
        "type": "file",
        "z": "3b3c60cac9e15652",
        "g": "e207b0ca8ceee3d3",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 820,
        "y": 400,
        "wires": [
            [
                "80cd497a1366595e"
            ]
        ]
    },
    {
        "id": "249c2e3beb9a48e2",
        "type": "inject",
        "z": "3b3c60cac9e15652",
        "g": "0a0816a7bf894544",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 300,
        "wires": [
            [
                "05a11a68b5733742"
            ]
        ]
    },
    {
        "id": "05a11a68b5733742",
        "type": "function",
        "z": "3b3c60cac9e15652",
        "g": "0a0816a7bf894544",
        "name": "Filename Variable",
        "func": "global.set (\"pictureName\", msg.payload+\".jpg\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "7e995cb59f7d6127",
        "type": "function",
        "z": "3b3c60cac9e15652",
        "g": "e207b0ca8ceee3d3",
        "name": "Add name",
        "func": "msg.filename = \"/home/hugo/Pictures/\"+global.get(\"pictureName\")\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 400,
        "wires": [
            [
                "9bbcf76bb5dc64d0"
            ]
        ]
    },
    {
        "id": "490d74948a6510d7",
        "type": "inject",
        "z": "3b3c60cac9e15652",
        "g": "ea3d780115fbfa5b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "f729a84669a6b0d3"
            ]
        ]
    },
    {
        "id": "f729a84669a6b0d3",
        "type": "http request",
        "z": "3b3c60cac9e15652",
        "g": "ea3d780115fbfa5b",
        "name": "get picture",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "http://192.168.1.110/capture",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 350,
        "y": 80,
        "wires": [
            [
                "0d36104967960f26"
            ]
        ]
    },
    {
        "id": "a8d14fecdcc434a0",
        "type": "file",
        "z": "3b3c60cac9e15652",
        "g": "ea3d780115fbfa5b",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 820,
        "y": 80,
        "wires": [
            [
                "e4bbcd6ba7a591dc"
            ]
        ]
    },
    {
        "id": "0d36104967960f26",
        "type": "function",
        "z": "3b3c60cac9e15652",
        "g": "ea3d780115fbfa5b",
        "name": "Add name",
        "func": "msg.filename = \"/home/hugo/Pictures/detect.jpg\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 80,
        "wires": [
            [
                "a8d14fecdcc434a0"
            ]
        ]
    },
    {
        "id": "e4bbcd6ba7a591dc",
        "type": "exec",
        "z": "3b3c60cac9e15652",
        "g": "ea3d780115fbfa5b",
        "command": "curl --location 'http://localhost:32168/v1/vision/face' --form 'image=@\"/home/hugo/Pictures/detect.jpg\"' --form 'min_confidence=\"0.4\"'",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "curl call",
        "x": 1060,
        "y": 80,
        "wires": [
            [
                "a7f42c05b6b950a4"
            ],
            [],
            []
        ]
    },
    {
        "id": "a7f42c05b6b950a4",
        "type": "json",
        "z": "3b3c60cac9e15652",
        "g": "ea3d780115fbfa5b",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 160,
        "wires": [
            [
                "7ac1552038e5c119"
            ]
        ]
    },
    {
        "id": "7ac1552038e5c119",
        "type": "function",
        "z": "3b3c60cac9e15652",
        "g": "ea3d780115fbfa5b",
        "name": "Pass coordinates",
        "func": "if (msg.payload.count == 1){\n    global.set(\"x_min\",msg.payload.predictions[0].x_min);\n    global.set(\"y_min\",msg.payload.predictions[0].y_min);\n    global.set(\"x_max\",msg.payload.predictions[0].x_max);\n    global.set(\"y_max\",msg.payload.predictions[0].y_max);   \n\n    msg.xmin = msg.payload.predictions[0].x_min;\n    msg.xmax = msg.payload.predictions[0].x_max;\n    msg.ymin = msg.payload.predictions[0].y_min;\n    msg.ymax = msg.payload.predictions[0].y_max; \n\n    msg.payload = (\"x_min: \" + msg.payload.predictions[0].x_min + \"y_min: \" + msg.payload.predictions[0].y_min + \"x_max: \" + msg.payload.predictions[0].x_max + \"y_max: \" + msg.payload.predictions[0].y_max);\n} else {\n    global.set(\"x_min\",0);\n    global.set(\"y_min\",0);\n    global.set(\"x_max\",1);\n    global.set(\"y_max\",1);\n\n    msg.xmin = 0;\n    msg.xmax = 1;\n    msg.ymin = 0;\n    msg.ymax = 1;\n\n    msg.payload = (\"No face detected\");\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 160,
        "wires": [
            [
                "54969de6ac19eabb",
                "001c82a4351f2185"
            ]
        ]
    },
    {
        "id": "54969de6ac19eabb",
        "type": "ui_text",
        "z": "3b3c60cac9e15652",
        "g": "ea3d780115fbfa5b",
        "group": "45493670ebbd75ca",
        "order": 2,
        "width": 9,
        "height": 1,
        "name": "",
        "label": "Show coordinates",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 850,
        "y": 160,
        "wires": []
    },
    {
        "id": "e02f138280eb5849",
        "type": "ui_text_input",
        "z": "3b3c60cac9e15652",
        "d": true,
        "g": "7b4499f4ca4d2a7b",
        "name": "Path to new face",
        "label": "Path to new face",
        "tooltip": "",
        "group": "d8380dafa5eff9d1",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 150,
        "y": 1960,
        "wires": [
            [
                "a0ec45d4bd68b064"
            ]
        ]
    },
    {
        "id": "a0ec45d4bd68b064",
        "type": "function",
        "z": "3b3c60cac9e15652",
        "d": true,
        "g": "7b4499f4ca4d2a7b",
        "name": "path to face register",
        "func": "global.set (\"faceReg\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1960,
        "wires": [
            []
        ]
    },
    {
        "id": "70945f2165e235ce",
        "type": "ui_text_input",
        "z": "3b3c60cac9e15652",
        "d": true,
        "g": "7b4499f4ca4d2a7b",
        "name": "Name of new face",
        "label": "Name of new face",
        "tooltip": "",
        "group": "d8380dafa5eff9d1",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 150,
        "y": 2020,
        "wires": [
            [
                "2568df0b7818cd8e"
            ]
        ]
    },
    {
        "id": "2568df0b7818cd8e",
        "type": "function",
        "z": "3b3c60cac9e15652",
        "d": true,
        "g": "7b4499f4ca4d2a7b",
        "name": "name to face register",
        "func": "global.set (\"nameReg\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 2020,
        "wires": [
            []
        ]
    },
    {
        "id": "9a759f9de9e0649b",
        "type": "ui_button",
        "z": "3b3c60cac9e15652",
        "d": true,
        "g": "7b4499f4ca4d2a7b",
        "name": "",
        "group": "d8380dafa5eff9d1",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Register",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 2080,
        "wires": [
            [
                "ac9fe3658cd3173c"
            ]
        ]
    },
    {
        "id": "ac9fe3658cd3173c",
        "type": "function",
        "z": "3b3c60cac9e15652",
        "d": true,
        "g": "7b4499f4ca4d2a7b",
        "name": "generate curl",
        "func": "msg.payload = \"curl --location 'http://localhost:32168/v1/vision/face/register' --form 'imageN=@\\\"\" + global.get(\"faceReg\") + \"\\\"' --form 'userid=\\\"\"+ global.get (\"nameReg\") +\"\\\"'\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 2080,
        "wires": [
            [
                "4fae02c2715ad332"
            ]
        ]
    },
    {
        "id": "4fae02c2715ad332",
        "type": "exec",
        "z": "3b3c60cac9e15652",
        "d": true,
        "g": "7b4499f4ca4d2a7b",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Register a face",
        "x": 600,
        "y": 2080,
        "wires": [
            [
                "898cad28233922d9"
            ],
            [],
            []
        ]
    },
    {
        "id": "898cad28233922d9",
        "type": "json",
        "z": "3b3c60cac9e15652",
        "d": true,
        "g": "7b4499f4ca4d2a7b",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 810,
        "y": 2080,
        "wires": [
            [
                "6686f8b781f90369"
            ]
        ]
    },
    {
        "id": "6686f8b781f90369",
        "type": "function",
        "z": "3b3c60cac9e15652",
        "d": true,
        "g": "7b4499f4ca4d2a7b",
        "name": "Check success",
        "func": "if (msg.payload.success == true)\n{\n    msg.payload = \"Succes! Face registered\";\n} else {\n    msg.payload = \"Something went wrong!\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 2080,
        "wires": [
            [
                "4a6c16a5c34bd284",
                "d5f8c86cd20a30fa"
            ]
        ]
    },
    {
        "id": "4a6c16a5c34bd284",
        "type": "ui_text",
        "z": "3b3c60cac9e15652",
        "d": true,
        "g": "7b4499f4ca4d2a7b",
        "group": "d8380dafa5eff9d1",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Status",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 810,
        "y": 2160,
        "wires": []
    },
    {
        "id": "d5f8c86cd20a30fa",
        "type": "delay",
        "z": "3b3c60cac9e15652",
        "d": true,
        "g": "7b4499f4ca4d2a7b",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 340,
        "y": 2160,
        "wires": [
            [
                "cef438b57e1c1cf3"
            ]
        ]
    },
    {
        "id": "cef438b57e1c1cf3",
        "type": "change",
        "z": "3b3c60cac9e15652",
        "d": true,
        "g": "7b4499f4ca4d2a7b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Waiting for a new face",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 2160,
        "wires": [
            [
                "4a6c16a5c34bd284"
            ]
        ]
    },
    {
        "id": "80cd497a1366595e",
        "type": "delay",
        "z": "3b3c60cac9e15652",
        "g": "e207b0ca8ceee3d3",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1070,
        "y": 400,
        "wires": [
            [
                "de798f2b190316c8",
                "0765c07a1dfd6ef4"
            ]
        ]
    },
    {
        "id": "fcfe07de4e6eccb7",
        "type": "exec",
        "z": "3b3c60cac9e15652",
        "g": "e207b0ca8ceee3d3",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 570,
        "y": 480,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "de798f2b190316c8",
        "type": "function",
        "z": "3b3c60cac9e15652",
        "g": "e207b0ca8ceee3d3",
        "name": "Open captured photo",
        "func": "msg.payload = \"eog \" + msg.filename;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 480,
        "wires": [
            [
                "fcfe07de4e6eccb7"
            ]
        ]
    },
    {
        "id": "001c82a4351f2185",
        "type": "ui_template",
        "z": "3b3c60cac9e15652",
        "g": "ea3d780115fbfa5b",
        "group": "45493670ebbd75ca",
        "name": "",
        "order": 1,
        "width": 12,
        "height": 9,
        "format": "<iframe id=\"videoFrame\" src=\"http://192.168.1.110:81/stream\" width=\"640\" height=\"480\"></iframe>\n\n<svg id=\"overlay\" style=\"position: absolute; top: 0; left: 0; width: 100%; height: 100%;\">\n\n\n    <!-- Add lines for each corner with light green color and 1/2 stroke width extension -->\n    <line x1=\"{{msg.xmin - (0.5 * 9.3640625)}}\" y1=\"{{msg.ymin}}\" x2=\"{{msg.xmin + (msg.xmax - msg.xmin) / 5}}\" y2=\"{{msg.ymin}}\"\n        style=\"stroke: rgba(179, 221, 202, 1); stroke-width: 9.3640625;\" />\n    <line x1=\"{{msg.xmin}}\" y1=\"{{msg.ymin}}\" x2=\"{{msg.xmin}}\" y2=\"{{msg.ymin + (msg.ymax - msg.ymin) / 5}}\"\n        style=\"stroke: rgba(179, 221, 202, 1); stroke-width: 9.3640625;\" />\n\n    <line x1=\"{{msg.xmax + (0.5 * 9.3640625)}}\" y1=\"{{msg.ymin}}\" x2=\"{{msg.xmax - (msg.xmax - msg.xmin) / 5}}\" y2=\"{{msg.ymin}}\"\n        style=\"stroke: rgba(179, 221, 202, 1); stroke-width: 9.3640625;\" />\n    <line x1=\"{{msg.xmax}}\" y1=\"{{msg.ymin}}\" x2=\"{{msg.xmax}}\" y2=\"{{msg.ymin + (msg.ymax - msg.ymin) / 5}}\"\n        style=\"stroke: rgba(179, 221, 202, 1); stroke-width: 9.3640625;\" />\n\n    <line x1=\"{{msg.xmax + (0.5 * 9.3640625)}}\" y1=\"{{msg.ymax}}\" x2=\"{{msg.xmax - (msg.xmax - msg.xmin) / 5}}\" y2=\"{{msg.ymax}}\"\n        style=\"stroke: rgba(179, 221, 202, 1); stroke-width: 9.3640625;\" />\n    <line x1=\"{{msg.xmax}}\" y1=\"{{msg.ymax}}\" x2=\"{{msg.xmax}}\" y2=\"{{msg.ymax - (msg.ymax - msg.ymin) / 5}}\"\n        style=\"stroke: rgba(179, 221, 202, 1); stroke-width: 9.3640625;\" />\n\n    <line x1=\"{{msg.xmin - (0.5 * 9.3640625)}}\" y1=\"{{msg.ymax}}\" x2=\"{{msg.xmin + (msg.xmax - msg.xmin) / 5}}\" y2=\"{{msg.ymax}}\"\n        style=\"stroke: rgba(179, 221, 202, 1); stroke-width: 9.3640625;\" />\n    <line x1=\"{{msg.xmin}}\" y1=\"{{msg.ymax}}\" x2=\"{{msg.xmin}}\" y2=\"{{msg.ymax - (msg.ymax - msg.ymin) / 5}}\"\n        style=\"stroke: rgba(179, 221, 202, 1); stroke-width: 9.3640625;\" />\n\n    <!-- Add lines for each corner with light green color and 1/2 stroke width extension -->\n    <line x1=\"{{msg.xmin}}\" y1=\"{{msg.ymin}}\" x2=\"{{msg.xmin + (msg.xmax - msg.xmin) / 3}}\" y2=\"{{msg.ymin}}\"\n        style=\"stroke: rgba(179, 221, 202, 0.5); stroke-width: 9.3640625;\" />\n    <line x1=\"{{msg.xmin}}\" y1=\"{{msg.ymin}}\" x2=\"{{msg.xmin}}\" y2=\"{{msg.ymin + (msg.ymax - msg.ymin) / 3}}\"\n        style=\"stroke: rgba(179, 221, 202, 0.5); stroke-width: 9.3640625;\" />\n\n    <line x1=\"{{msg.xmax}}\" y1=\"{{msg.ymin}}\" x2=\"{{msg.xmax - (msg.xmax - msg.xmin) / 3}}\" y2=\"{{msg.ymin}}\"\n        style=\"stroke: rgba(179, 221, 202, 0.5); stroke-width: 9.3640625;\" />\n    <line x1=\"{{msg.xmax}}\" y1=\"{{msg.ymin}}\" x2=\"{{msg.xmax}}\" y2=\"{{msg.ymin + (msg.ymax - msg.ymin) / 3}}\"\n        style=\"stroke: rgba(179, 221, 202, 0.5); stroke-width: 9.3640625;\" />\n\n    <line x1=\"{{msg.xmax}}\" y1=\"{{msg.ymax}}\" x2=\"{{msg.xmax - (msg.xmax - msg.xmin) / 3}}\" y2=\"{{msg.ymax}}\"\n        style=\"stroke: rgba(179, 221, 202, 0.5); stroke-width: 9.3640625;\" />\n    <line x1=\"{{msg.xmax}}\" y1=\"{{msg.ymax}}\" x2=\"{{msg.xmax}}\" y2=\"{{msg.ymax - (msg.ymax - msg.ymin) / 3}}\"\n        style=\"stroke: rgba(179, 221, 202, 0.5); stroke-width: 9.3640625;\" />\n\n    <line x1=\"{{msg.xmin}}\" y1=\"{{msg.ymax}}\" x2=\"{{msg.xmin + (msg.xmax - msg.xmin) / 3}}\" y2=\"{{msg.ymax}}\"\n        style=\"stroke: rgba(179, 221, 202, 0.5); stroke-width: 9.3640625;\" />\n    <line x1=\"{{msg.xmin}}\" y1=\"{{msg.ymax}}\" x2=\"{{msg.xmin}}\" y2=\"{{msg.ymax - (msg.ymax - msg.ymin) / 3}}\"\n        style=\"stroke: rgba(179, 221, 202, 0.5); stroke-width: 9.3640625;\" />\n\n\n</svg>\n\n<script>\n    function updateImage() {\n        var videoFrame = document.getElementById('videoFrame');\n        var overlay = document.getElementById('overlay');\n\n        // Adjust the size and position of the overlay to match the video frame\n        overlay.style.width = videoFrame.offsetWidth + 'px';\n        overlay.style.height = videoFrame.offsetHeight + 'px';\n\n        var image = new Image();\n        image.src = 'http://192.168.1.110:81/stream?' + new Date().getTime(); // Append a timestamp to force video refresh\n        image.onload = function () {\n            videoFrame.contentWindow.location.reload(); // Reload the iframe to update the video\n        };\n    }\n\n    setInterval(updateImage, 1000); // Update video every 1 second (1000 milliseconds)\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 820,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "0765c07a1dfd6ef4",
        "type": "link out",
        "z": "3b3c60cac9e15652",
        "g": "e207b0ca8ceee3d3",
        "name": "Compare40 Tx",
        "mode": "link",
        "links": [
            "9b49b126f83f355d"
        ],
        "x": 1235,
        "y": 400,
        "wires": []
    },
    {
        "id": "9b49b126f83f355d",
        "type": "link in",
        "z": "3b3c60cac9e15652",
        "g": "4dfb0d38379b8a64",
        "name": "Compare40 Rx",
        "links": [
            "0765c07a1dfd6ef4"
        ],
        "x": 75,
        "y": 600,
        "wires": [
            [
                "60784718ffd306ec"
            ]
        ]
    },
    {
        "id": "60784718ffd306ec",
        "type": "function",
        "z": "3b3c60cac9e15652",
        "g": "4dfb0d38379b8a64",
        "name": "Compare command",
        "func": "msg.payload = \"python3 ~/Documents/GitHub/data-visualization/deepface/fca-mqtt.py \" + msg.filename + \" ~/Documents/GitHub/data-visualization/faces/deepface_db\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 600,
        "wires": [
            [
                "9af30b6d4ca601dd"
            ]
        ]
    },
    {
        "id": "9af30b6d4ca601dd",
        "type": "exec",
        "z": "3b3c60cac9e15652",
        "g": "4dfb0d38379b8a64",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 510,
        "y": 600,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "9cd8da9a6de0cdcd",
        "type": "mqtt in",
        "z": "3b3c60cac9e15652",
        "g": "4dfb0d38379b8a64",
        "name": "Results",
        "topic": "deepface/mqtt/python",
        "qos": "2",
        "datatype": "json",
        "broker": "78c4e9e81da0615d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 660,
        "wires": [
            [
                "a5e5916673a80375",
                "e5b72e25cd78bb7d",
                "cd4a128cd0e11b83",
                "56ceb020f19ffac0",
                "9d043fff577da6ec"
            ]
        ]
    },
    {
        "id": "a5e5916673a80375",
        "type": "function",
        "z": "3b3c60cac9e15652",
        "g": "4dfb0d38379b8a64",
        "name": "function 1",
        "func": "var input = msg.payload.identity[\"0\"];\n\nif (input) {\n    var lastIndex = input.lastIndexOf('/');\n    if (lastIndex >= 0) {\n        var trimmedString = input.substring(0, lastIndex + 1); // Include the last slash\n        var alike = (1 - msg.payload[\"VGG-Face_cosine\"][\"0\"]) * 100;\n        \n        // Round 'alike' to the nearest integer\n        var roundedAlike = Math.round(alike);\n        \n        // Add a percentage symbol to 'roundedAlike'\n        var alikeWithPercentage = roundedAlike + '%';\n        \n        msg.alike = alikeWithPercentage;\n        msg.filename = trimmedString + \"info.json\";\n    } else {\n        msg.payload = \"Invalid Path\"; // No slash found, keep the original string\n    }\n} else {\n    msg.payload = 0;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 660,
        "wires": [
            [
                "c0dbee6ec58911eb"
            ]
        ]
    },
    {
        "id": "e5b72e25cd78bb7d",
        "type": "function",
        "z": "3b3c60cac9e15652",
        "g": "4dfb0d38379b8a64",
        "name": "function 2",
        "func": "var input = msg.payload.identity[\"1\"];\n\nif (input) {\n    var lastIndex = input.lastIndexOf('/');\n    if (lastIndex >= 0) {\n        var trimmedString = input.substring(0, lastIndex + 1); // Include the last slash\n        var alike = (1 - msg.payload[\"VGG-Face_cosine\"][\"1\"]) * 100;\n        \n        // Round 'alike' to the nearest integer\n        var roundedAlike = Math.round(alike);\n        \n        // Add a percentage symbol to 'roundedAlike'\n        var alikeWithPercentage = roundedAlike + '%';\n        \n        msg.alike = alikeWithPercentage;\n        msg.filename = trimmedString + \"info.json\";\n    } else {\n        msg.payload = \"Invalid Path\"; // No slash found, keep the original string\n    }\n} else {\n    msg.payload = \"0\";\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 740,
        "wires": [
            [
                "a4d1a1d70922da54"
            ]
        ]
    },
    {
        "id": "cd4a128cd0e11b83",
        "type": "function",
        "z": "3b3c60cac9e15652",
        "g": "4dfb0d38379b8a64",
        "name": "function 3",
        "func": "var input = msg.payload.identity[\"2\"];\n\nif (input) {\n    var lastIndex = input.lastIndexOf('/');\n    if (lastIndex >= 0) {\n        var trimmedString = input.substring(0, lastIndex + 1); // Include the last slash\n        var alike = (1 - msg.payload[\"VGG-Face_cosine\"][\"2\"]) * 100;\n        \n        // Round 'alike' to the nearest integer\n        var roundedAlike = Math.round(alike);\n        \n        // Add a percentage symbol to 'roundedAlike'\n        var alikeWithPercentage = roundedAlike + '%';\n        \n        msg.alike = alikeWithPercentage;\n        msg.filename = trimmedString + \"info.json\";\n    } else {\n        msg.payload = \"Invalid Path\"; // No slash found, keep the original string\n    }\n} else {\n    msg.payload = \"0\";\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 820,
        "wires": [
            [
                "f3ba3aa27b7f234a"
            ]
        ]
    },
    {
        "id": "56ceb020f19ffac0",
        "type": "function",
        "z": "3b3c60cac9e15652",
        "g": "4dfb0d38379b8a64",
        "name": "function 4",
        "func": "var input = msg.payload.identity[\"3\"];\n\nif (input) {\n    var lastIndex = input.lastIndexOf('/');\n    if (lastIndex >= 0) {\n        var trimmedString = input.substring(0, lastIndex + 1); // Include the last slash\n        var alike = (1 - msg.payload[\"VGG-Face_cosine\"][\"3\"]) * 100;\n        \n        // Round 'alike' to the nearest integer\n        var roundedAlike = Math.round(alike);\n        \n        // Add a percentage symbol to 'roundedAlike'\n        var alikeWithPercentage = roundedAlike + '%';\n        \n        msg.alike = alikeWithPercentage;\n        msg.filename = trimmedString + \"info.json\";\n    } else {\n        msg.payload = \"Invalid Path\"; // No slash found, keep the original string\n    }\n} else {\n    msg.payload = \"0\";\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 900,
        "wires": [
            [
                "1e6bcef6c392d605"
            ]
        ]
    },
    {
        "id": "9d043fff577da6ec",
        "type": "function",
        "z": "3b3c60cac9e15652",
        "g": "4dfb0d38379b8a64",
        "name": "function 5",
        "func": "var input = msg.payload.identity[\"4\"];\n\nif (input) {\n    var lastIndex = input.lastIndexOf('/');\n    if (lastIndex >= 0) {\n        var trimmedString = input.substring(0, lastIndex + 1); // Include the last slash\n        var alike = (1 - msg.payload[\"VGG-Face_cosine\"][\"4\"]) * 100;\n        \n        // Round 'alike' to the nearest integer\n        var roundedAlike = Math.round(alike);\n        \n        // Add a percentage symbol to 'roundedAlike'\n        var alikeWithPercentage = roundedAlike + '%';\n        \n        msg.alike = alikeWithPercentage;\n        msg.filename = trimmedString + \"info.json\";\n    } else {\n        msg.payload = \"Invalid Path\"; // No slash found, keep the original string\n    }\n} else {\n    msg.payload = \"0\";\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 980,
        "wires": [
            [
                "424f4c383a7ef5e7"
            ]
        ]
    },
    {
        "id": "761ce18ca6cfdad7",
        "type": "ui_template",
        "z": "3b3c60cac9e15652",
        "g": "4dfb0d38379b8a64",
        "group": "9e639269c77b9c9d",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<table>\n    <tr>\n        <td>{{msg.name}}</td>\n        <td>{{msg.description}}</td>\n        <td>{{msg.alike}}</td>\n        <td><img src=\"{{msg.filename}}\" height=\"80\" ></td>\n    </tr>\n</table>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1180,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "dd924cf8512dd8c4",
        "type": "file in",
        "z": "3b3c60cac9e15652",
        "g": "4dfb0d38379b8a64",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 680,
        "y": 660,
        "wires": [
            [
                "5570379515d44baa"
            ]
        ]
    },
    {
        "id": "5570379515d44baa",
        "type": "json",
        "z": "3b3c60cac9e15652",
        "g": "4dfb0d38379b8a64",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 830,
        "y": 660,
        "wires": [
            [
                "bf9bec31fb0ceae3"
            ]
        ]
    },
    {
        "id": "bf9bec31fb0ceae3",
        "type": "function",
        "z": "3b3c60cac9e15652",
        "g": "4dfb0d38379b8a64",
        "name": "function 6",
        "func": "msg.name = msg.payload.name;\nmsg.description = msg.payload.description;\nvar filename = msg.filename;\nvar lastIndex = filename.lastIndexOf('/');\nvar secondLastIndex = filename.lastIndexOf('/', lastIndex - 1); // Find the second-to-last slash\n\nif (secondLastIndex >= 0) {\n    var trimmedFilename = filename.substring(secondLastIndex + 1, lastIndex); // Include the second-to-last slash, exclude the last slash\n    msg.filename = \"https://raw.githubusercontent.com/hugoescalpelo/data-visualization/main/faces/deepface_db/\" + trimmedFilename + '/face.jpg'; // Add '/face.jpg' after the trimmed part\n}\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 660,
        "wires": [
            [
                "761ce18ca6cfdad7"
            ]
        ]
    },
    {
        "id": "374c40aacdf65d27",
        "type": "file in",
        "z": "3b3c60cac9e15652",
        "g": "4dfb0d38379b8a64",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 680,
        "y": 740,
        "wires": [
            [
                "7b5ec73e67e16185"
            ]
        ]
    },
    {
        "id": "7b5ec73e67e16185",
        "type": "json",
        "z": "3b3c60cac9e15652",
        "g": "4dfb0d38379b8a64",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 830,
        "y": 740,
        "wires": [
            [
                "3c504acd944995f6"
            ]
        ]
    },
    {
        "id": "9bc91174259c9001",
        "type": "file in",
        "z": "3b3c60cac9e15652",
        "g": "4dfb0d38379b8a64",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 680,
        "y": 820,
        "wires": [
            [
                "4afe932573d519ae"
            ]
        ]
    },
    {
        "id": "4afe932573d519ae",
        "type": "json",
        "z": "3b3c60cac9e15652",
        "g": "4dfb0d38379b8a64",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 830,
        "y": 820,
        "wires": [
            [
                "9ecea7641233009d"
            ]
        ]
    },
    {
        "id": "915da7e840ec73e9",
        "type": "file in",
        "z": "3b3c60cac9e15652",
        "g": "4dfb0d38379b8a64",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 680,
        "y": 900,
        "wires": [
            [
                "91c20ce62c52b9b0"
            ]
        ]
    },
    {
        "id": "91c20ce62c52b9b0",
        "type": "json",
        "z": "3b3c60cac9e15652",
        "g": "4dfb0d38379b8a64",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 830,
        "y": 900,
        "wires": [
            [
                "278718f995f8d615"
            ]
        ]
    },
    {
        "id": "b56707211298279c",
        "type": "file in",
        "z": "3b3c60cac9e15652",
        "g": "4dfb0d38379b8a64",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 680,
        "y": 980,
        "wires": [
            [
                "850cc9fcb932b4be"
            ]
        ]
    },
    {
        "id": "850cc9fcb932b4be",
        "type": "json",
        "z": "3b3c60cac9e15652",
        "g": "4dfb0d38379b8a64",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 830,
        "y": 980,
        "wires": [
            [
                "8de9bcbffcc5f4a9"
            ]
        ]
    },
    {
        "id": "b041ee0409229bc7",
        "type": "ui_template",
        "z": "3b3c60cac9e15652",
        "g": "4dfb0d38379b8a64",
        "group": "9e639269c77b9c9d",
        "name": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<table>\n    <tr>\n        <td>{{msg.name}}</td>\n        <td>{{msg.description}}</td>\n        <td>{{msg.alike}}</td>\n        <td><img src=\"{{msg.filename}}\" height=\"80\" ></td>\n    </tr>\n</table>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1180,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "8f37163a8618ab2e",
        "type": "ui_template",
        "z": "3b3c60cac9e15652",
        "g": "4dfb0d38379b8a64",
        "group": "9e639269c77b9c9d",
        "name": "",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<table>\n    <tr>\n        <td>{{msg.name}}</td>\n        <td>{{msg.description}}</td>\n        <td>{{msg.alike}}</td>\n        <td><img src=\"{{msg.filename}}\" height=\"80\" ></td>\n    </tr>\n</table>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1180,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "f685825e670c696b",
        "type": "ui_template",
        "z": "3b3c60cac9e15652",
        "g": "4dfb0d38379b8a64",
        "group": "9e639269c77b9c9d",
        "name": "",
        "order": 4,
        "width": 0,
        "height": 0,
        "format": "<table>\n    <tr>\n        <td>{{msg.name}}</td>\n        <td>{{msg.description}}</td>\n        <td>{{msg.alike}}</td>\n        <td><img src=\"{{msg.filename}}\" height=\"80\" ></td>\n    </tr>\n</table>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1180,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "f1afb9d902e82927",
        "type": "ui_template",
        "z": "3b3c60cac9e15652",
        "g": "4dfb0d38379b8a64",
        "group": "9e639269c77b9c9d",
        "name": "",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "<table>\n    <tr>\n        <td>{{msg.name}}</td>\n        <td>{{msg.description}}</td>\n        <td>{{msg.alike}}</td>\n        <td><img src=\"{{msg.filename}}\" height=\"80\" ></td>\n    </tr>\n</table>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1180,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "8de9bcbffcc5f4a9",
        "type": "function",
        "z": "3b3c60cac9e15652",
        "g": "4dfb0d38379b8a64",
        "name": "function 10",
        "func": "msg.name = msg.payload.name;\nmsg.description = msg.payload.description;\nvar filename = msg.filename;\nvar lastIndex = filename.lastIndexOf('/');\nvar secondLastIndex = filename.lastIndexOf('/', lastIndex - 1); // Find the second-to-last slash\n\nif (secondLastIndex >= 0) {\n    var trimmedFilename = filename.substring(secondLastIndex + 1, lastIndex); // Include the second-to-last slash, exclude the last slash\n    msg.filename = \"https://raw.githubusercontent.com/hugoescalpelo/data-visualization/main/faces/deepface_db/\" + trimmedFilename + '/face.jpg'; // Add '/face.jpg' after the trimmed part\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 980,
        "wires": [
            [
                "f1afb9d902e82927"
            ]
        ]
    },
    {
        "id": "278718f995f8d615",
        "type": "function",
        "z": "3b3c60cac9e15652",
        "g": "4dfb0d38379b8a64",
        "name": "function 9",
        "func": "msg.name = msg.payload.name;\nmsg.description = msg.payload.description;\nvar filename = msg.filename;\nvar lastIndex = filename.lastIndexOf('/');\nvar secondLastIndex = filename.lastIndexOf('/', lastIndex - 1); // Find the second-to-last slash\n\nif (secondLastIndex >= 0) {\n    var trimmedFilename = filename.substring(secondLastIndex + 1, lastIndex); // Include the second-to-last slash, exclude the last slash\n    msg.filename = \"https://raw.githubusercontent.com/hugoescalpelo/data-visualization/main/faces/deepface_db/\" + trimmedFilename + '/face.jpg'; // Add '/face.jpg' after the trimmed part\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 900,
        "wires": [
            [
                "f685825e670c696b"
            ]
        ]
    },
    {
        "id": "9ecea7641233009d",
        "type": "function",
        "z": "3b3c60cac9e15652",
        "g": "4dfb0d38379b8a64",
        "name": "function 8",
        "func": "msg.name = msg.payload.name;\nmsg.description = msg.payload.description;\nvar filename = msg.filename;\nvar lastIndex = filename.lastIndexOf('/');\nvar secondLastIndex = filename.lastIndexOf('/', lastIndex - 1); // Find the second-to-last slash\n\nif (secondLastIndex >= 0) {\n    var trimmedFilename = filename.substring(secondLastIndex + 1, lastIndex); // Include the second-to-last slash, exclude the last slash\n    msg.filename = \"https://raw.githubusercontent.com/hugoescalpelo/data-visualization/main/faces/deepface_db/\" + trimmedFilename + '/face.jpg'; // Add '/face.jpg' after the trimmed part\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 820,
        "wires": [
            [
                "8f37163a8618ab2e"
            ]
        ]
    },
    {
        "id": "3c504acd944995f6",
        "type": "function",
        "z": "3b3c60cac9e15652",
        "g": "4dfb0d38379b8a64",
        "name": "function 7",
        "func": "msg.name = msg.payload.name;\nmsg.description = msg.payload.description;\nvar filename = msg.filename;\nvar lastIndex = filename.lastIndexOf('/');\nvar secondLastIndex = filename.lastIndexOf('/', lastIndex - 1); // Find the second-to-last slash\n\nif (secondLastIndex >= 0) {\n    var trimmedFilename = filename.substring(secondLastIndex + 1, lastIndex); // Include the second-to-last slash, exclude the last slash\n    msg.filename = \"https://raw.githubusercontent.com/hugoescalpelo/data-visualization/main/faces/deepface_db/\" + trimmedFilename + '/face.jpg'; // Add '/face.jpg' after the trimmed part\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 740,
        "wires": [
            [
                "b041ee0409229bc7"
            ]
        ]
    },
    {
        "id": "c0dbee6ec58911eb",
        "type": "switch",
        "z": "3b3c60cac9e15652",
        "g": "4dfb0d38379b8a64",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 510,
        "y": 660,
        "wires": [
            [
                "dd924cf8512dd8c4"
            ],
            [
                "22a7b8110bb9b353"
            ]
        ]
    },
    {
        "id": "22a7b8110bb9b353",
        "type": "function",
        "z": "3b3c60cac9e15652",
        "g": "4dfb0d38379b8a64",
        "name": "function 11",
        "func": "msg.name = \"N/A\";\nmsg.description = \"N/A\";\nmsg.filename = \"https://raw.githubusercontent.com/hugoescalpelo/data-visualization/main/deepface/samples/blank.png\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 700,
        "wires": [
            [
                "761ce18ca6cfdad7"
            ]
        ]
    },
    {
        "id": "a4d1a1d70922da54",
        "type": "switch",
        "z": "3b3c60cac9e15652",
        "g": "4dfb0d38379b8a64",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 510,
        "y": 740,
        "wires": [
            [
                "374c40aacdf65d27"
            ],
            [
                "4481469d92557c13"
            ]
        ]
    },
    {
        "id": "4481469d92557c13",
        "type": "function",
        "z": "3b3c60cac9e15652",
        "g": "4dfb0d38379b8a64",
        "name": "function 12",
        "func": "msg.name = \"N/A\";\nmsg.description = \"N/A\";\nmsg.filename = \"https://raw.githubusercontent.com/hugoescalpelo/data-visualization/main/deepface/samples/blank.png\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 780,
        "wires": [
            [
                "b041ee0409229bc7"
            ]
        ]
    },
    {
        "id": "f3ba3aa27b7f234a",
        "type": "switch",
        "z": "3b3c60cac9e15652",
        "g": "4dfb0d38379b8a64",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 510,
        "y": 820,
        "wires": [
            [
                "9bc91174259c9001"
            ],
            [
                "ad8ba2a9b3f075c8"
            ]
        ]
    },
    {
        "id": "ad8ba2a9b3f075c8",
        "type": "function",
        "z": "3b3c60cac9e15652",
        "g": "4dfb0d38379b8a64",
        "name": "function 13",
        "func": "msg.name = \"N/A\";\nmsg.description = \"N/A\";\nmsg.filename = \"https://raw.githubusercontent.com/hugoescalpelo/data-visualization/main/deepface/samples/blank.png\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 860,
        "wires": [
            [
                "8f37163a8618ab2e"
            ]
        ]
    },
    {
        "id": "1e6bcef6c392d605",
        "type": "switch",
        "z": "3b3c60cac9e15652",
        "g": "4dfb0d38379b8a64",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 510,
        "y": 900,
        "wires": [
            [
                "915da7e840ec73e9"
            ],
            [
                "1189b32cec69b016"
            ]
        ]
    },
    {
        "id": "1189b32cec69b016",
        "type": "function",
        "z": "3b3c60cac9e15652",
        "g": "4dfb0d38379b8a64",
        "name": "function 14",
        "func": "msg.name = \"N/A\";\nmsg.description = \"N/A\";\nmsg.filename = \"https://raw.githubusercontent.com/hugoescalpelo/data-visualization/main/deepface/samples/blank.png\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 940,
        "wires": [
            [
                "f685825e670c696b"
            ]
        ]
    },
    {
        "id": "424f4c383a7ef5e7",
        "type": "switch",
        "z": "3b3c60cac9e15652",
        "g": "4dfb0d38379b8a64",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 510,
        "y": 980,
        "wires": [
            [
                "b56707211298279c"
            ],
            [
                "4643fb195b6bba62"
            ]
        ]
    },
    {
        "id": "4643fb195b6bba62",
        "type": "function",
        "z": "3b3c60cac9e15652",
        "g": "4dfb0d38379b8a64",
        "name": "function 15",
        "func": "msg.name = \"N/A\";\nmsg.description = \"N/A\";\nmsg.filename = \"https://raw.githubusercontent.com/hugoescalpelo/data-visualization/main/deepface/samples/blank.png\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 1020,
        "wires": [
            [
                "f1afb9d902e82927"
            ]
        ]
    },
    {
        "id": "28bd852ee44e0c88",
        "type": "inject",
        "z": "3b3c60cac9e15652",
        "g": "e207b0ca8ceee3d3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 460,
        "wires": [
            [
                "303ec5567680214f"
            ]
        ]
    },
    {
        "id": "47c2aa63e8ab775e",
        "type": "exec",
        "z": "3b3c60cac9e15652",
        "g": "fae4d768ecaa3b3c",
        "command": "curl --location 'http://localhost:32168/v1/image/ocr' --form 'file=@\"/home/hugo/Pictures/detect.jpg\"'",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "OCR detect",
        "x": 470,
        "y": 1260,
        "wires": [
            [
                "8eebe6a15256e515"
            ],
            [],
            []
        ]
    },
    {
        "id": "8eebe6a15256e515",
        "type": "json",
        "z": "3b3c60cac9e15652",
        "g": "fae4d768ecaa3b3c",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 650,
        "y": 1260,
        "wires": [
            [
                "80bbceddac2ccc5c",
                "6745bd0b2f37a188"
            ]
        ]
    },
    {
        "id": "80bbceddac2ccc5c",
        "type": "function",
        "z": "3b3c60cac9e15652",
        "g": "fae4d768ecaa3b3c",
        "name": "function 16",
        "func": "// Initialize variables to store text and coordinates\nvar texts = [];\nvar coordinates = [];\n\n// Iterate through predictions and extract text and coordinates\nif (msg.payload.hasOwnProperty('predictions') && Array.isArray(msg.payload.predictions)) {\n    for (var i = 0; i < 5; i++) {\n        if (i < msg.payload.predictions.length) {\n            texts[i] = msg.payload.predictions[i].label || ' '; // Use a space for empty text\n            coordinates[i] = {\n                x_min: msg.payload.predictions[i].x_min || ' ',\n                y_min: msg.payload.predictions[i].y_min || ' ',\n                x_max: msg.payload.predictions[i].x_max || ' ',\n                y_max: msg.payload.predictions[i].y_max || ' '\n            };\n        } else {\n            // Fill with blank spaces for any missing predictions\n            texts[i] = ' ';\n            coordinates[i] = {\n                x_min: '0',\n                y_min: '0',\n                x_max: '1',\n                y_max: '1'\n            };\n        }\n    }\n} else {\n    for (var i = 0; i < 5; i++) {\n        if (i < 5) {\n            // Fill with blank spaces for any missing predictions\n            texts[i] = ' ';\n            coordinates[i] = {\n                x_min: '0',\n                y_min: '0',\n                x_max: '1',\n                y_max: '1'\n            };\n        }\n    }\n}\n\n// Set the result properties in the output message\nmsg.text0 = texts[0];\nmsg.text1 = texts[1];\nmsg.text2 = texts[2];\nmsg.text3 = texts[3];\nmsg.text4 = texts[4];\nmsg.coordinates0 = coordinates[0];\nmsg.coordinates1 = coordinates[1];\nmsg.coordinates2 = coordinates[2];\nmsg.coordinates3 = coordinates[3];\nmsg.coordinates4 = coordinates[4];\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 1340,
        "wires": [
            [
                "07cfc4b1cc097c34",
                "e7370728ed95987a",
                "455e059c42cdf68d",
                "56c780d43543e03a",
                "eea46537294a2d58"
            ]
        ]
    },
    {
        "id": "1851747b5f45602d",
        "type": "ui_template",
        "z": "3b3c60cac9e15652",
        "g": "fae4d768ecaa3b3c",
        "group": "e6bb8dbef78e3b7e",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<table>\n    <tr>\n        <td>{{msg.text0}}</td>\n        <td><img src=\"{{msg.filename}}\" height=\"40\" ></td>\n    </tr>\n</table>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1200,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "37aeb6dd30288d6b",
        "type": "ui_template",
        "z": "3b3c60cac9e15652",
        "g": "fae4d768ecaa3b3c",
        "group": "e6bb8dbef78e3b7e",
        "name": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<table>\n    <tr>\n        <td>{{msg.text1}}</td>\n        <td><img src=\"{{msg.payload}}\" height=\"40\" ></td>\n    </tr>\n</table>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1200,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "106cae68185afecc",
        "type": "ui_template",
        "z": "3b3c60cac9e15652",
        "g": "fae4d768ecaa3b3c",
        "group": "e6bb8dbef78e3b7e",
        "name": "",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<table>\n    <tr>\n        <td>{{msg.text2}}</td>\n        <td><img src=\"{{msg.payload}}\" height=\"40\" ></td>\n    </tr>\n</table>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1200,
        "y": 1540,
        "wires": [
            []
        ]
    },
    {
        "id": "4850aa3fba0681b7",
        "type": "ui_template",
        "z": "3b3c60cac9e15652",
        "g": "fae4d768ecaa3b3c",
        "group": "e6bb8dbef78e3b7e",
        "name": "",
        "order": 4,
        "width": 0,
        "height": 0,
        "format": "<table>\n    <tr>\n        <td>{{msg.text3}}</td>\n        <td><img src=\"{{msg.payload}}\" height=\"40\" ></td>\n    </tr>\n</table>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1200,
        "y": 1620,
        "wires": [
            []
        ]
    },
    {
        "id": "bbf0910d80e9ff02",
        "type": "ui_template",
        "z": "3b3c60cac9e15652",
        "g": "fae4d768ecaa3b3c",
        "group": "e6bb8dbef78e3b7e",
        "name": "",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "<table>\n    <tr>\n        <td>{{msg.text4}}</td>\n        <td><img src=\"{{msg.payload}}\" height=\"40\" ></td>\n    </tr>\n</table>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1200,
        "y": 1700,
        "wires": [
            []
        ]
    },
    {
        "id": "97b54477ac8b5b3f",
        "type": "http in",
        "z": "3b3c60cac9e15652",
        "g": "4036ea1e0eebbcce",
        "name": "",
        "url": "/images/*",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 1140,
        "wires": [
            [
                "2038deced828d37b"
            ]
        ]
    },
    {
        "id": "242167a0d62d3ce0",
        "type": "file in",
        "z": "3b3c60cac9e15652",
        "g": "4036ea1e0eebbcce",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "allProps": false,
        "x": 520,
        "y": 1140,
        "wires": [
            [
                "efec9f13de776c17"
            ]
        ]
    },
    {
        "id": "efec9f13de776c17",
        "type": "http response",
        "z": "3b3c60cac9e15652",
        "g": "4036ea1e0eebbcce",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 670,
        "y": 1140,
        "wires": []
    },
    {
        "id": "2038deced828d37b",
        "type": "function",
        "z": "3b3c60cac9e15652",
        "g": "4036ea1e0eebbcce",
        "name": "function 17",
        "func": "// Extract the characters after the last slash\nvar url = msg.req.url;\nvar filename = url.substring(url.lastIndexOf('/') + 1);\n\n// Create the full path for the image\nvar imagePath = '/home/hugo/Pictures/' + filename;\n\n// Assign the image path to msg.filename\nmsg.filename = imagePath;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 1140,
        "wires": [
            [
                "242167a0d62d3ce0"
            ]
        ]
    },
    {
        "id": "038484f0451b6349",
        "type": "function",
        "z": "3b3c60cac9e15652",
        "g": "fae4d768ecaa3b3c",
        "name": "function 18",
        "func": "msg.payload = \"python3 /home/hugo/Documents/GitHub/data-visualization/OpenCV/crop-text.py /home/hugo/Pictures/detect.jpg 0 \" + msg.payload.predictions[0].x_min + \" \" + msg.payload.predictions[0].x_max + \" \" + msg.payload.predictions[0].y_min + \" \" + msg.payload.predictions[0].y_max;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 1340,
        "wires": [
            [
                "d0e6cd88d3e557b1"
            ]
        ]
    },
    {
        "id": "d0e6cd88d3e557b1",
        "type": "exec",
        "z": "3b3c60cac9e15652",
        "g": "fae4d768ecaa3b3c",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 830,
        "y": 1340,
        "wires": [
            [
                "13da289f2e9dfedb"
            ],
            [],
            []
        ]
    },
    {
        "id": "8afe2b068854efb7",
        "type": "function",
        "z": "3b3c60cac9e15652",
        "g": "fae4d768ecaa3b3c",
        "name": "function 19",
        "func": "if (msg.text1 != \" \"){\n    msg.payload = \"python3 /home/hugo/Documents/GitHub/data-visualization/OpenCV/crop-text.py /home/hugo/Pictures/detect.jpg 1 \" + msg.payload.predictions[1].x_min + \" \" + msg.payload.predictions[1].x_max + \" \" + msg.payload.predictions[1].y_min + \" \" + msg.payload.predictions[1].y_max;\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 1420,
        "wires": [
            [
                "51508ad4e8911624"
            ]
        ]
    },
    {
        "id": "12c5959bba524e90",
        "type": "function",
        "z": "3b3c60cac9e15652",
        "g": "fae4d768ecaa3b3c",
        "name": "function 20",
        "func": "if (msg.text2 != \" \"){\n    msg.payload = \"python3 /home/hugo/Documents/GitHub/data-visualization/OpenCV/crop-text.py /home/hugo/Pictures/detect.jpg 2 \" + msg.payload.predictions[2].x_min + \" \" + msg.payload.predictions[2].x_max + \" \" + msg.payload.predictions[2].y_min + \" \" + msg.payload.predictions[2].y_max;\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 1500,
        "wires": [
            [
                "8b1f03330f090760"
            ]
        ]
    },
    {
        "id": "dfc4f0b3a08e3bf1",
        "type": "function",
        "z": "3b3c60cac9e15652",
        "g": "fae4d768ecaa3b3c",
        "name": "function 21",
        "func": "if (msg.text3 != \" \"){\n    msg.payload = \"python3 /home/hugo/Documents/GitHub/data-visualization/OpenCV/crop-text.py /home/hugo/Pictures/detect.jpg 3 \" + msg.payload.predictions[3].x_min + \" \" + msg.payload.predictions[3].x_max + \" \" + msg.payload.predictions[3].y_min + \" \" + msg.payload.predictions[3].y_max;\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 1580,
        "wires": [
            [
                "c51080e1b0fbbe21"
            ]
        ]
    },
    {
        "id": "df7528d7d2a24682",
        "type": "function",
        "z": "3b3c60cac9e15652",
        "g": "fae4d768ecaa3b3c",
        "name": "function 22",
        "func": "if (msg.text4 != \" \"){\n    msg.payload = \"python3 /home/hugo/Documents/GitHub/data-visualization/OpenCV/crop-text.py /home/hugo/Pictures/detect.jpg 4 \" + msg.payload.predictions[4].x_min + \" \" + msg.payload.predictions[4].x_max + \" \" + msg.payload.predictions[4].y_min + \" \" + msg.payload.predictions[4].y_max;\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 1660,
        "wires": [
            [
                "4ff6608a603d4539"
            ]
        ]
    },
    {
        "id": "51508ad4e8911624",
        "type": "exec",
        "z": "3b3c60cac9e15652",
        "g": "fae4d768ecaa3b3c",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 830,
        "y": 1420,
        "wires": [
            [
                "7555773de5458357"
            ],
            [],
            []
        ]
    },
    {
        "id": "8b1f03330f090760",
        "type": "exec",
        "z": "3b3c60cac9e15652",
        "g": "fae4d768ecaa3b3c",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 830,
        "y": 1500,
        "wires": [
            [
                "c95872691031343b"
            ],
            [],
            []
        ]
    },
    {
        "id": "c51080e1b0fbbe21",
        "type": "exec",
        "z": "3b3c60cac9e15652",
        "g": "fae4d768ecaa3b3c",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 830,
        "y": 1580,
        "wires": [
            [
                "9bb1c7d21c37b0ed"
            ],
            [],
            []
        ]
    },
    {
        "id": "4ff6608a603d4539",
        "type": "exec",
        "z": "3b3c60cac9e15652",
        "g": "fae4d768ecaa3b3c",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 830,
        "y": 1660,
        "wires": [
            [
                "ed3dd00a980b912e"
            ],
            [],
            []
        ]
    },
    {
        "id": "6745bd0b2f37a188",
        "type": "debug",
        "z": "3b3c60cac9e15652",
        "g": "fae4d768ecaa3b3c",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 1260,
        "wires": []
    },
    {
        "id": "403148938b38912c",
        "type": "function",
        "z": "3b3c60cac9e15652",
        "g": "fae4d768ecaa3b3c",
        "name": "function 23",
        "func": "msg.text0 = \" \";\nmsg.payload = \"http://localhost:1880/images/blank.png\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 1380,
        "wires": [
            [
                "1851747b5f45602d"
            ]
        ]
    },
    {
        "id": "01e3e08f3de5d01a",
        "type": "inject",
        "z": "3b3c60cac9e15652",
        "g": "fae4d768ecaa3b3c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 1260,
        "wires": [
            [
                "47c2aa63e8ab775e"
            ]
        ]
    },
    {
        "id": "07cfc4b1cc097c34",
        "type": "switch",
        "z": "3b3c60cac9e15652",
        "g": "fae4d768ecaa3b3c",
        "name": "",
        "property": "text0",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": " ",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": " ",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 1340,
        "wires": [
            [
                "038484f0451b6349"
            ],
            [
                "403148938b38912c"
            ]
        ]
    },
    {
        "id": "e7370728ed95987a",
        "type": "switch",
        "z": "3b3c60cac9e15652",
        "g": "fae4d768ecaa3b3c",
        "name": "",
        "property": "text1",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": " ",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": " ",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 1420,
        "wires": [
            [
                "8afe2b068854efb7"
            ],
            [
                "4bac0356fc87e52c"
            ]
        ]
    },
    {
        "id": "4bac0356fc87e52c",
        "type": "function",
        "z": "3b3c60cac9e15652",
        "g": "fae4d768ecaa3b3c",
        "name": "function 24",
        "func": "msg.text1 = \" \";\nmsg.payload = \"http://localhost:1880/images/blank.png\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 1460,
        "wires": [
            [
                "37aeb6dd30288d6b"
            ]
        ]
    },
    {
        "id": "2fa1bd93acdadd4f",
        "type": "function",
        "z": "3b3c60cac9e15652",
        "g": "fae4d768ecaa3b3c",
        "name": "function 25",
        "func": "msg.text2 = \" \";\nmsg.payload = \"http://localhost:1880/images/blank.png\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 1540,
        "wires": [
            [
                "106cae68185afecc"
            ]
        ]
    },
    {
        "id": "33295b795b946d33",
        "type": "function",
        "z": "3b3c60cac9e15652",
        "g": "fae4d768ecaa3b3c",
        "name": "function 26",
        "func": "msg.text3 = \" \";\nmsg.payload = \"http://localhost:1880/images/blank.png\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 1620,
        "wires": [
            [
                "4850aa3fba0681b7"
            ]
        ]
    },
    {
        "id": "a8379d11bfd868b8",
        "type": "function",
        "z": "3b3c60cac9e15652",
        "g": "fae4d768ecaa3b3c",
        "name": "function 27",
        "func": "msg.text4 = \" \";\nmsg.payload = \"http://localhost:1880/images/blank.png\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 1700,
        "wires": [
            [
                "bbf0910d80e9ff02"
            ]
        ]
    },
    {
        "id": "455e059c42cdf68d",
        "type": "switch",
        "z": "3b3c60cac9e15652",
        "g": "fae4d768ecaa3b3c",
        "name": "",
        "property": "text2",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": " ",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": " ",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 1500,
        "wires": [
            [
                "12c5959bba524e90"
            ],
            [
                "2fa1bd93acdadd4f"
            ]
        ]
    },
    {
        "id": "56c780d43543e03a",
        "type": "switch",
        "z": "3b3c60cac9e15652",
        "g": "fae4d768ecaa3b3c",
        "name": "",
        "property": "text3",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": " ",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": " ",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 1580,
        "wires": [
            [
                "dfc4f0b3a08e3bf1"
            ],
            [
                "33295b795b946d33"
            ]
        ]
    },
    {
        "id": "eea46537294a2d58",
        "type": "switch",
        "z": "3b3c60cac9e15652",
        "g": "fae4d768ecaa3b3c",
        "name": "",
        "property": "text4",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": " ",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": " ",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 1660,
        "wires": [
            [
                "df7528d7d2a24682"
            ],
            [
                "a8379d11bfd868b8"
            ]
        ]
    },
    {
        "id": "13da289f2e9dfedb",
        "type": "function",
        "z": "3b3c60cac9e15652",
        "g": "fae4d768ecaa3b3c",
        "name": "function 28",
        "func": "msg.filename = \"http://localhost:1880/images/img0.jpg\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 1340,
        "wires": [
            [
                "1851747b5f45602d"
            ]
        ]
    },
    {
        "id": "7555773de5458357",
        "type": "function",
        "z": "3b3c60cac9e15652",
        "g": "fae4d768ecaa3b3c",
        "name": "function 29",
        "func": "msg.payload = \"http://localhost:1880/images/img1.jpg\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 1420,
        "wires": [
            [
                "37aeb6dd30288d6b"
            ]
        ]
    },
    {
        "id": "c95872691031343b",
        "type": "function",
        "z": "3b3c60cac9e15652",
        "g": "fae4d768ecaa3b3c",
        "name": "function 30",
        "func": "msg.payload = \"http://localhost:1880/images/img2.jpg\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 1500,
        "wires": [
            [
                "106cae68185afecc"
            ]
        ]
    },
    {
        "id": "9bb1c7d21c37b0ed",
        "type": "function",
        "z": "3b3c60cac9e15652",
        "g": "fae4d768ecaa3b3c",
        "name": "function 31",
        "func": "msg.payload = \"http://localhost:1880/images/img3.jpg\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 1580,
        "wires": [
            [
                "4850aa3fba0681b7"
            ]
        ]
    },
    {
        "id": "ed3dd00a980b912e",
        "type": "function",
        "z": "3b3c60cac9e15652",
        "g": "fae4d768ecaa3b3c",
        "name": "function 32",
        "func": "msg.payload = \"http://localhost:1880/images/img4.jpg\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 1660,
        "wires": [
            [
                "bbf0910d80e9ff02"
            ]
        ]
    }
]